<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>project</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'project.css' %}" />
    </head>

    <body>
        <div class="airbnb_image">
            <img src="{% static 'airbnb.png' %}" />
        </div>
        <div class="toss_image">
            <img src="{% static 'toss.png' %}" />
        </div>
        <div class="cat">
            <img src="{% static 'pixel-cat.gif' %}" />
        </div>
        <div class="apple">
            <img src="{% static 'meme.gif' %}" />
        </div>
        <div class="bubble1">
            <img src="{% static 'bubble.jpeg' %}" />
        </div>
        <div class="text">
            <p>코딩 7일차에 만든거래</p>
        </div>
        <div class="bubble2">
            <img src="{% static 'bubble2.png' %}" />
        </div>
        <div class="text2">
            <p>대박~</p>
        </div>
    </body>
</html>
