body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    text-align: center;
}

.banner {
    width: 100%;
    height: 400px; /* 배너의 높이를 늘립니다 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
}

.about {
    background-color: #f04e45;
}

.products {
    background-color: #4e91f0;
}

.technology {
    background-color: #4ef04e;
}

.downloads {
    background-color: #f0e14e;
}

.tabs {
    display: flex;
    justify-content: center;
    background-color: #333;
}

.tab {
    flex: 1;
    padding: 15px;
    cursor: pointer;
    color: white;
    background-color: #333;
    border: none;
    outline: none;
    transition: background-color 0.3s;
}

.tab:hover {
    background-color: #555;
}

.tab.active {
    background-color: #111;
}
