<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>글 목록</title>
    </head>
    <body>
        <h2>글 모두 보기</h2>
        <ul>
            {% for article in articles %}
            <li><a href="{% url 'detail' article.id %}">{{ article.title }}</a> - {{ article.category }}</li>
            {{ article.post_time|date:"Y-m-d H:i" }} {% endfor %}
        </ul>

        <h2>카테고리별 목록</h2>
        <ul>
            {% for category in categories %}
            <li>
                <a href="{% url 'category_view' category.category %}">{{ category.category }}</a> ({{ category.total }})
            </li>
            {% endfor %}
        </ul>

        <a href="{% url 'new' %}">글 쓰러 가기</a>
    </body>
</html>
