.project_button .box_link {
    display: inline-block;
    width: 250px;
    height: 60px;
    background-color: #000;
    text-align: center;
    line-height: 30px;
    color: white;
    opacity: 0;
    position: absolute;
    left: 280px;
    top: 515px;